/* Hide Name in Navbar for Small Screens */
@media screen and (max-width: 500px) {
	.navbar-brand {
		display:none;
	}
}

.body-container {
	position:absolute;
	top:35px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:hidden;
}
.content-container {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	height:100%;
	overflow:hidden;
}
.hidden {
	visiblity:hidden;
}

/* Header Style */

.dropdown-icon {
	width: 20;
	height: 20;
	vertical-align: bottom;
	margin-right: 10;
}

/* Loading Style */

.loading {
	position:fixed;
	background-color:rgba(0, 0, 0, 0.5);
	width:100%;
	height:100%;
	top:0px;
	left:0px;
}
.loading-circle-container {
	position:relative;
	margin:auto;
	border-radius:50%;
	top:50%;
	transform:translate(0, -50%);
	-ms-transform:rotate(0, -50%); /* IE 9 */
	-webkit-transform:translate(0, -50%); /* Safari and Chrome */
	width:80px;
	height:80px;
	background-image:url('images/ajax-loader.gif');
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-color:rgb(255, 255, 255);
}

/* Generalized Viewport Style */

.general-viewport {
	position:absolute;
	width:100%;
	height:100%;
	overflow-x:hidden;
	overflow-y:scroll;
}
.general-container {
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}
@media screen and (min-width: 325px) {
	.general-container {
		width:310px;
	}
}
@media screen and (min-width: 635px) {
	.general-container {
		width:620px;
	}
}
@media screen and (min-width: 945px) {
	.general-container {
		width:930px;
	}
}
@media screen and (min-width: 1245px) {
	.general-container {
		width:1230px;
	}
}
@media screen and (min-width: 1655px) {
	.general-container {
		width:1640px;
	}
}

/* Game Listing Styles */

.game-list-viewport {
	position:absolute;
	width:100%;
	height:100%;
	overflow-x:hidden;
	overflow-y:scroll;
}
.game-list-container {
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}
.game-container {
	width:300px;
	height:400px;
	margin:5px;
	float:left;
	overflow:hidden;
	background-color:#000000;
	border-radius:9px;
}
.game-header-container {
	padding-top:8px;
	padding-left:8px;
	padding-right:8px;
	width:inherit;
}
.game-pic {
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	width:284px;
}
.game-title-container {
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
	background-color:#FFFFFF;
	text-align:center;
	font-size: 18px;
}
.game-rating-container {
	width:284px;
	height:57px;
	background-image: url('images/ratings_blank.png');
	background-repeat:repeat-x;
	background-size:contain;
	overflow:hidden;
}
.game-rating {
	width:100%;
	height:100%;
	background: url('images/ratings_yellow.png');
	background-repeat:repeat-x;
	background-clip:content-box;
	background-size:contain;
}
.game-body-container {
	margin-left:8px;
	margin-right:8px;
	margin-bottom:8px;
	padding:5px;
	width:284px;
	height:169px;
	background-color:#FFFFFF;
	border-radius:9px;
	font-size:12px;
	text-align:justify;
}
.game-content-container {
	
}
/* Do Not Scale Below 325 px */
/*@media screen and (max-width: 325px) {
	.content-container {
		width:100%;
		padding-left:5px;
		padding-right:5px;
	}
	.game-container {
		margin-left:0px;
		margin-right:0px;
		width:100%;
	}
	.game-pic {
		width:inherit;
	}
	.game-title-container {
		font-size: 13px;
	}
	.game-rating-container {
		width:100%;
	}
	.game-rating {
		width:100%;
	}
}*/
@media screen and (min-width: 325px) {
	.game-list-container {
		width:310px;
	}
}
@media screen and (min-width: 635px) {
	.game-list-container {
		width:620px;
	}
}
@media screen and (min-width: 945px) {
	.game-list-container {
		width:930px;
	}
}
@media screen and (min-width: 1245px) {
	.game-list-container {
		width:1230px;
	}
	.game-container {
		width:400px;
		height:533px;
	}
	.game-pic {
		width:384px;
	}
	.game-title-container {
		font-size:22px;
	}
	.game-rating-container {
		width:384px;
		height:80px;
	}
	.game-body-container {
		width:384px;
		height:227px;
		font-size:16px;
	}
}
@media screen and (min-width: 1655px) {
	.game-list-container {
		width:1640px;
	}
}

/* Game View Styles */

.game-view-viewport {
	background-color:rgba(255, 255, 255, .85);
	background-image:url('images/overlaybackground.png');
	position:absolute;
	width:100%;
	height:100%;
	overflow-x:hidden;
	overflow-y:scroll;
	display:none;
}
.game-view-container {
	margin-top:5px;
	width:310px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}
.game-view-header {
	margin-left:5px;
	margin-right:5px;
	height: 45px;
	background-color:#000000;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
}
.game-view-icon {
	float:left;
	margin:6px;
	width:32px;
	height:32px;
	border-radius:50%;
	background-image:url('images/disk.png');
	background-repeat:no-repeat;
}
.game-view-title {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	height:45px;
	color:#FFFFFF;
	font-size:32px;
}
.game-view-body {
	margin-left:5px;
	margin-right:5px;
	padding:8px;
	background-color:#888888;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.game-view-image {
	/*margin:8px;*/
	float:left;
	border-radius:9px;
	width:284px;
}
.game-view-closebutton {
	float:right;
	margin:6px;
	width:32px;
	height:32px;
	border-radius:50%;
	background-image:url('images/closebutton.png');
	background-repeat:no-repeat;
}
.game-view-closebutton:hover {
	-moz-box-shadow: 0px 0px 4px #FFFFFF; 
	-webkit-box-shadow: 0px 0px 4px #FFFFFF; 
	box-shadow: 0px 0px 10px #FFFFFF; 
}
.game-view-gameinfo {
	height:274px;
}
.game-view-gameinfo-body {
	float:left;
	width:284px;
	height:133px;
	background-color:#FFFFFF;
	border-radius:9px;
	margin-top:8px;
	padding:8px;
	padding-top:0px;
	overflow-y:auto;
}
.game-view-gameinfo-label {
	width:100%;
	margin-top:8px;
	margin-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	border-radius:9px;
	color:#000000;
	background-color:#CCCCCC;
}
.game-view-gamebody {
	float:both;
	width:284px;
	background-color:#FFFFFF;
	border-radius:9px;
	margin-top:8px;
	padding:8px;
}
.game-view-reviews-container {
	width:268px;
}
.game-view-reviews-label {
	width:100%;
	margin-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	border-radius:9px;
	color:#000000;
	background-color:#CCCCCC;
}
.game-view-review-container {
	width:100%;
	margin-bottom:8px;
}
.game-view-review-head {
	font-size:16pt;
	width:100%;
	padding-left:8px;
	padding-right:8px;
	color:#FFFFFF;
	background-color:#000000;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
}
.game-view-review-edit {
	float:right;
	margin-top:6px;
	margin-left:6px;
	background-image:url('images/edit.png');
	background-clip:content-box;
	background-size:contain;
	width:18px;
	height:18px;
}
.game-view-review-delete {
	float:right;
	margin-left:6px;
	margin-top:6px;
	background-image:url('images/delete.png');
	background-clip:content-box;
	background-size:contain;
	width:18px;
	height:18px;
}
/* Doesn't Look Good */
/*.game-view-review-edit:hover {
	-moz-box-shadow: 0px 0px 4px #FFFFFF; 
	-webkit-box-shadow: 0px 0px 4px #FFFFFF; 
	box-shadow: 0px 0px 10px #FFFFFF; 
}*/
.game-view-review-body {
	width:100%;
	max-height:400px;
	padding:8px;
	background-color:#CCCCCC;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
@media screen and (min-width: 325px) {
	.game-view-container {
		width:310px;
	}
	.game-view-image {
		float:none;
		width:284px;
		height:133px;
	}
	.game-view-gameinfo {
		/*margin:8px;*/
		width:594px;
		height:274px;
	}
	.game-view-gameinfo-body {
		float:none;
		width:284px;
		height:133px;
	}
	.game-view-gamebody {
		width:284px;
	}
}
@media screen and (min-width: 635px) {
	.game-view-container {
		width:620px;
	}
	.game-view-image {
		float:left;
		width:293px;
		height:137px;
		margin-right:4px;
	}
	.game-view-gameinfo {
		/*margin:8px;*/
		width: 904px;
		height:137px;
	}
	.game-view-gameinfo-body {
		float:left;
		width:293px;
		height:137px;
		margin-left:4px;
		margin-top:0px;
	}
	.game-view-gamebody {
		width:594px;
	}
	.game-view-reviews-container {
		width:578px;
	}
}
@media screen and (min-width: 945px) {
	.game-view-container {
		width:930px;
	}
	.game-view-image {
		width:448px;
		height:213px;
	}
	.game-view-gameinfo {
		width:920px;
		height:213px;
	}
	.game-view-gameinfo-body {
		float:left;
		width:448px;
		height:213px;
	}
	.game-view-gamebody {
		width:904px;
	}
	.game-view-reviews-container {
		width:888px;
	}
}
@media screen and (min-width: 1245px) {
	.game-view-container {
		width:1230px;
	}
	.game-view-image {
		width:384px;
		height:180px;
		margin-right:0px;
	}
	.game-view-gameinfo {
		float:left;
		width:384px;
		height:auto;
	}
	.game-view-gameinfo-body {
		width:384px;
		height:auto;
		margin-top:8px;
		margin-left:0px;
	}
	.game-view-gamebody {
		margin-top:0px;
		margin-left:392px;
		width:812px;
		min-height:500px;
	}
	.game-view-reviews-container {
		width:796px;
	}

}
@media screen and (min-width: 1655px) {
	.game-view-container {
		width:1640px;
	}
	.game-view-image {
		width:460px;
		height:215px;
	}
	.game-view-gameinfo {
		width:460px;
		height:215px;
	}
	.game-view-gameinfo-body {
		width:460px;
		height:auto;
	}
	.game-view-gamebody {
		margin-top:0px;
		margin-left:468px;
		width:1144px;
		min-height:650px;
	}
	.game-view-reviews-container {
		width:1128px;
	}
}

/* Game List Ratings */

.game-user-rating {
	background-image:url('images/ratings_green.png');
	margin-top:-57px;
	width:284px;
	height:57px;
	background-repeat:repeat-x;
	background-clip:content-box;
	background-size:contain;
}
@media screen and (min-width: 1245px) {
	.game-user-rating {
		margin-top:-80px;
		width:384px;
		height:80px;
	}
}
.game-rating-actions {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	margin-bottom:0px;
	margin-top:-57px;
}
.game-rating-value {
	height:100%;
}
.game-rating-1 {
	margin-top:-57px;
	width:20%;
}
.game-rating-2 {
	margin-top:-57px;
	width:40%;
}
.game-rating-3 {
	margin-top:-57px;
	width:60%;
}
.game-rating-4 {
	margin-top:-57px;
	width:80%;
}
.game-rating-5 {
	width:100%;
}
.hide-rating {
	padding-right:100% !important;
}
@media screen and (min-width: 1245px) {
	.game-rating-actions {
		margin-top:-80px;
	}
	.game-rating-1 {
		margin-top:-80px;
	}
	.game-rating-2 {
		margin-top:-80px;
	}
	.game-rating-3 {
		margin-top:-80px;
	}
	.game-rating-4 {
		margin-top:-80px;
	}
	.game-rating-5 {
		margin-top:-80px;
	}
}


.genre-container {
	margin:8px;
	padding:8px;
	border-radius:9px;
	font-size:24pt;
	color:#FFFFFF;
	background-color:#000000;
}
.genre-like-btn {
	float:right;
	margin-right:6px;
	margin-top:6px;
	width:32px;
	height:32px;
	background-image:url('images/like.png');
	background-size:contain;
}
.genre-like-btn:hover {
	background-image:url('images/like-sel.png');
}
.genre-like-btn-sel {
	background-image:url('images/like-sel.png') !important;
}
